$break-small: 719px;

body {
  font-family: Inter;
  color: #797283;

  p {
    font-family: Inter;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: PT Serif;
    line-height: 43px;
    color: #1E1C21;
  }

  a {
    color: #8953B7;

    &:hover, &:active {
      color: #8953b7;
    }
  }
}
