---
title: Welcome to Middleman
---

<%= partial "nav" %>
<div class="hero">
  <h1>Sam Willis, Product Designer</h1>
  <p>I’m a multi-disciplinary designer with 7 years experience. I enjoy solving complex problems, and helping companies translate technology, business goals, and user needs into products and experiences customers love.</p>
  <div class="hero-buttons">
    <button type="button" name="button">Selected work</button>
    <button type="button" name="button">Get in touch</button>
  </div>
</div>
<div class="work">
  <div class="work-item">
    <div class="work-item__logo">
      <img src="" alt="">
    </div>
    <div class="work-item__details">
      <p>Fat Llama</p>
      <p>2018-2019</p>
      <p>Lead Product Designer</p>
      <p>Changing the future of ownsership</p>
    </div>
  </div>
</div>
